@import "normalize";
@import "rouge-github";
@import "variables";
@import "blog";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-kerning: 300;
  font-feature-settings: "kern" 1;
  line-height: 1.5;
  color: $body-text-color;
}

a {
  color: $body-link-color;
}

.site-header-wrapper {
  position: fixed;
  height: $site-header-height;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  padding-left: 1rem;
  border-bottom: 1px solid $grey-color-light;
  
}
.site-header {
  max-width: 980px;
  margin: auto;
  a {
    font-size: 1.8rem;
    color: $section-headings-color;
    text-decoration: none;
    font-weight: bold;
  }
  // padding: 1rem 2rem 0px;
  @include large {
    padding: 1rem 2rem 0px;
  }

  @include medium {
    padding: 1rem 1rem 0px;
  }

  @include small {
    padding: 1rem 0rem 0px;
  }
}

.page-content-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid #000;
  .page-content-header-title{
    font-size: 2.2rem;
    margin: 0px;
    font-weight: bold;
    word-break: keep-all;
  }
  .page-content-header-date {
    padding-top: 20px;
    font-size: 1.1rem;
    margin: 0px;
    font-weight: normal;
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(180deg, $header-bg-color-secondary, $header-bg-color);
  margin-top: $site-header-height;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

// project title on main page
.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

// project tagline on main page
.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.sidebar-menu {
  float: right;
  width: 20%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 9rem;
}

.sidebar-nav-item {
  color: $sidebar-header-font-color;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.sidebar-menu a {
  padding: 6px 8px 6px 16px;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-size: 1.0rem;
  font-weight: normal;
  color: $sidebar-font-color;
  display: block;
  text-decoration: none;
  font-kerning: normal;
  font-feature-settings: "kern" 1;
}

.sidebar-menu a:hover {
  color: #a1a1a1;
}

.main-wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 980px;
  padding-top: $site-header-height;
}

.main-content{
  word-wrap: break-word;
  float: left;
  width: 80%; 

  @include large {
    max-width: 64rem;
    padding: 2rem 3rem;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }

  a, strong, b, span, strong, u{
    text-decoration: none !important;
    font-weight: normal;
    color: $main-describe-color;
    word-break: keep-all;
  }

  h2 {
    word-break: keep-all;
  }
}

#notebook-container {
  h1, h2, h3, h4, h5, h6{
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
  }
}

.output_text pre, .jp-RenderedText pre {
  margin-top: -1rem !important;
  background-color: #fff !important;
  color: #000 !important;
  border: solid 0px !important;
}

.output_subarea pre {
  color: #000 !important;
  background-color: #fff !important;
  border: solid 0px !important;
}

.output_html, .output_jpeg, .output_png , .jp-RenderedHTMLCommon div, .jp-RenderedImage{
  margin-top: -1rem !important;
  margin-bottom: 1.5rem !important;
  border: solid 0px !important;
}

.output_html table{
  border: 0 !important;
}

.page-wrapper {
  margin-bottom: 7rem;

  iframe {
    display:block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
  }
}

// define main-content html attributs 
.page-content {
  word-wrap: break-word;
  float: left;
  width: 100%;  

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 3rem;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 1rem 1rem;
    font-size: 1rem;
  }
  
  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 60px;
    margin-bottom: 15px;
    font-weight: bold;
    color: $header-font-color;
    display: table;
  }

  p {
    color: $body-text-color;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  blockquote > p{
    color: $blockquote-text-color;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 15.75px;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1.5rem import !important;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 15.75px;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0rem;
    -webkit-overflow-scrolling: touch;
  }

  u {
    text-underline-position: under;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    display: block;
    list-style-type: disc;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  strong {
    color: $body-strong-color;
    font-weight: bold;
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }

  a {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: normal;
  }
}

.post-link {
  padding: 5px 0px;
  font-size: 2rem;
}

.pagination {
  word-spacing: 10px;
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.site-footer {

  @include large {
  }

  @include medium {
  }

  @include small {
  }

  .my-span-icon {

    a {
    	text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }

    @include large {
      padding: 0px 5px 0px 5px;
    }

    @include medium {
      //font-size: 1rem;
      padding: 0px 10px 10px 10px;
    }

    @include small {
      padding: 0px 10px 10px 10px;
    }
  }

  .my-svg-icon {

    color: $body-text-color; // IE8
    fill: $body-text-color; // IE8
    width: 24px;
    height: 24px;

    &:hover {
      text-decoration: none;
      color: $section-headings-color; // IE8
      fill: $section-headings-color;
      transform: scale(1.25);
      transition: color .5s, transform .2s ease-out
    }

    @include large {
      width: 28px;
      height: 28px;
    }

    @include medium {
      width: 32px;
      height: 32px;
    }

    @include small {
      width: 36px;
      height: 36px;
    }

  } // social-icons

}
