// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #8b8c80 !default;
$header-bg-color-secondary: #011526 !default;
$header-font-color: #011526 !default;

// Sidebar
$sidebar-header-font-color: #032180 !default;
$sidebar-font-color: #f2c500 !default;

// Text
$section-headings-color: #003d50 !default;
$body-text-color: #27627f !default;
$body-link-color: #f2c500 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #011526 !default;
$code-text-color: #d7d9d8 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
