/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$navbar-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$navbar-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$navbar-width} - (#{$spacing-unit}));
    max-width:         calc(#{$navbar-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Google Fonts
// @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding&subset=korean');
// @import url('https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css');
// @import url('http://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css')
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap&subset=korean');
