/**
 * Site header
 */
// .site-header {
//   min-height: $spacing-unit * 1.865;

//   // Positioning context for the mobile navigation icon
//   position: relative;
// }

.site-title {
  @include relative-font-size(1.4);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-decoration: none;

  &,
  &:visited,
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .sidebar-menu {
    display: none !important;
  }
  .main-content {
    width: 100% !important;
  }
}

.site-nav {
  width: 20%;
  padding: 30px;
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $body-text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .trigger {
      padding-top: 20px;
    }
    .page-link {
      display: block;
      padding: 10px 10px;

      &:last-child {
        margin-bottom: 10px;
      }
      margin-right: 10px;
      margin-left: 10px;
    }

  }
}

/**
 * Post list
 */
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    list-style-type: none;
    margin-top: $spacing-unit * 1.0;
    margin-bottom: $spacing-unit * 1.0;
  }

  > li > h2 {
    margin-top: 0rem;
    margin-bottom: 0.4rem;
    a {
      font-weight: bold;
    }
  }
}

@include media-query($on-palm) {
  .post-list {
    -webkit-margin-end: 10px;
    -webkit-padding-start: 10px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  color: $section-title-color;
  text-decoration: none !important;
  @include relative-font-size(1.5);
}

.post-description {
  color: $section-title-desc-color;
  text-decoration: none !important;
}

.pagination {
  text-align: center;
  font-size: 20px;
  em b{
    font-weight: bold !important;
    font-size: 23px !important;
    color: $highlight-font-color !important;
  }
}

.paginator-indicator{
  color: $highlight-font-color !important;
}

.recommendations {
  text-decoration: none !important;
  font-size: 1.2rem !important;
}

.last-comment{
  margin-top: 1rem;
  p {
    font-size: 16px !important;
    margin: 1rem;
  }
}

table.dataframe {
  white-space: normal;
  width: 100%;
  height: 240px;
  display: block;
  overflow: auto;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

table.dataframe th {
  font-weight: bold;
  padding: 4px;
}

table.dataframe td {
  padding: 4px;
}

table.dataframe tr:hover {
  background: #b8d1f3; 
}

.output_prompt {
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
  -webkit-overflow-scrolling: touch;
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 15px;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: $code-text-color;
  border: solid 1px $border-color;
  border-radius: 0.3rem;
  word-break: normal;
  white-space: pre;
}

