---
layout: default
---
<div class="page-content-header">
  <div class="page-content-header-title">{{ page.title }}</div>
  <div class="page-content-header-date">
    {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
    {{ page.date | date: date_format }}
  </div>
</div>
<!-- <hr> -->
<br>

<article>
  <div class="page-wrapper">
    {% if page.title != 'About' %}

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- below website -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5548835221228418" data-ad-slot="1481048616"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% endif %}
    {{ content }}
  </div>

  {% if page.title != 'About' %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- below website -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5548835221228418" data-ad-slot="1481048616"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {% include disqus_comments.html %}
  {% endif %}

</article>
